# Ignore mac info files
.DS_Store

# ignore node things
node_modules/
npm-debug.log
# rollup typescript error
.rpt2_cache/

# tmp/ might be used by the mock-server to store some data. 
tmp/

# Personal developer notes
_notes/

# compiled files
server/out/
client/out/

# This is the eventual data
_data/

# this is a personal developer sandbox. We do not commit it. 
src/view/Sandbox/

# prevent the output files to be checked in 
client/web/js/*.js
client/web/css/*.css
client/web/test/*.js
client/web/test/*.css

# prevent the .map
*.map

# Ignore .vscode
.vscode/