# Ignore mac info files
.DS_Store

# ignore node things
node_modules/
npm-debug.log
# rollup typescript error
.rpt2_cache/

# prevent all root folders and filenames starting with "~". By convension, they are local folders only
# used for personal notes, data store, output dir, ...
~*

# For now, we ignore the laydown.json
laydown.json

# prevent the output files to be checked in 
client/web/js/*.js
client/web/css/*.css
client/web/test/*.js
client/web/test/*.css

# prevent the .map
*.map

# Ignore .vscode
.vscode/