<div class="EditUserDialog">
	<header>
		<span class="title">Edit User</span>
		<i class="do-close">{{{symbol "ico-cross"}}}</i>
	</header>
	<section class="content">
		<div class="form">
			<div class="field in-line">
				<input type="text" name="name" class="dx name" required>
				<span class="bar"></span>
				<label>name</label>
			</div>
			<div class="field in-line">
				<input type="text" name="age" class="dx age" required>
				<span class="bar"></span>
				<label>age</label>
			</div>
			<footer>
				<button class="btn cancel" tabindex="0">Cancel</button>
				<div class="btn save" tabindex="0">Save</div>
			</footer>
		</div>
	</section>
</div>